/* http://paletton.com/#uid=1210u0kcglL4Zvw8Eq6eXhmkwen */
/* http://paletton.com/#uid=10X0u0k8YlL2jFR5HrLbnfVhMbe */

html, body {
	margin: 0;
	padding: 0;
	background: #ad9d7d;
	color: #594928;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	height: 100%;
}

h1 {
	font-size: 4.5em;
	margin: 0.2em 0;
}

p {
	margin: 1em 0;
	padding: 0;
}

input, select, textarea, button {
	font-family: inherit;
}

a:active {
	outline: none;
}

a {
	color: inherit;
}

.dropdown {
	position: relative;
}

.dropdown-container {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 100;
	background: #ddd0b6;
	border-radius: 0.4em;
	box-sizing: border-box;
	padding: 0.6em;
	margin: 0.6em 0 0 0;
	box-shadow: 0.1em 0.1em 0.5em 0.2em rgba(0,0,0,.2);
}

.dropdown-container.left {
	right: 0;
	float: right;
}

.dropdown-container.right {
	left: 0;
	float: left;
}

.button {
	display: inline-block;
	background: #7f7052;
	padding: 0.5em;
	border-radius: 0.4em;
	color: inherit;
	text-decoration: inherit;
	/*border: 1px solid #594928;*/
	border: 0;
	font-size: 1em;
	color: #fff9ed;
	text-align: center;
	box-sizing: border-box;
	margin: 0.1em;
}

div.button {
	cursor: default;
}

.button>.caption {
	color: #ddd0b6;
	margin-bottom: 0.5em;
}

.button>.label {
	font-size: 1.2em;
}

.btn-dark {
	background: #594928;
	/*border: 1px solid #312818;*/
	border: 0;
}

.dropdown.open>.dropdown-container {
	display: block;
}

.profile-flexbox {
	display: flex;
	min-width: 15em;
}

.flexbox-item {
	margin-right: 0.6em;
}

.flexbox-item:last-child {
	margin-right: 0;
}

.flexbox-item-lg {
	margin-right: 1em;
}

.flexbox-item-lg:last-child {
	margin-right: 0;
}

.btn-row {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1em;
}

.btn-row>* {
	margin-right: 1em;
}

.btn-row>*:last-child {
	margin-right: 0;
}

.btn-row:last-child {
	margin-bottom: 0;
}

.btn-row>.grow {
	flex: 1 1 auto;
}

.toolbar-flexbox {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.flex-grow {
	flex-grow: 1;
}

.profile-user-picture {
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: cover;
	border-radius: 0.2em;
	flex-shrink: 0;
	flex-grow: 0;
}

.main-content-wrapper {
	display: flex;
	justify-content: center;
}

.main-content>div {
	margin-bottom: 1em;
}

.user-profile {
	margin: 1em;
	position: absolute;
	right: 0;
	top: 0;
}

.user-menu {
	margin: 1em;
	position: absolute;
	left: 0;
	top: 0;
}

.user-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

div.board {
	background: #fff9ed;
	border-radius: 0.4em;
	box-sizing: border-box;
	padding: 0.6em;
}

.board-wrapper {
	display: flex;
	justify-content: center;
}

canvas.board {
	display: block;
}

.alert {
	color: rgb(245, 62, 5);
}

.login-main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

img.icon {
	width: 2em;
	height: 2em;
}

.flex-button {
	display: flex;
	align-items: center;
}

.board-heading {
	display: flex;
}

.lg1 {
	font-size: 1.2em;
}

.lg2 {
	font-size: 1.4em;
}

.lg3 {
	font-size: 1.6em;
}

.lg4 {
	font-size: 1.8em;
}

.lg5 {
	font-size: 2.0em;
}

.fright {
	float: right;
}

.fleft {
	float: left;
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
	display: flex;
}

.modal-content {
	background: #ddd0b6;
	border-radius: 0.4em;
	padding: 0.6em;
	margin: 0;
	box-shadow: 0.1em 0.1em 0.5em 0.2em rgba(0,0,0,.2);
	position: relative;
}

.modal-header {
	border-bottom: 0.15em solid #ad9d7d;
	margin: 0 -0.6em 0 -0.6em;
	padding: 0 0.6em 0 0.6em;
}

.modal-header h4 {
	font-weight: bold;
	font-size: 1em;
	margin: 0.2em 0 1em 0;
}

.modal-close>.fa {
	font-size: 1.5em;
}

.modal-close {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.6em;
}

a.modal-close {
	text-decoration: none;
}

.modal-body {
	padding-top: 0.6em;
}

.color-picker {
	display: flex;
	flex-wrap: wrap;
	width: 23em;
	margin: 0 -0.6em -0.6em 0;
}

.color-picker-item {
	display: block;
	width: 4em;
	height: 4em;
	margin: 0 0.6em 0.6em 0;
	border-radius: 0.4em;
	background-color: #ffffff;
}
