/* http://paletton.com/#uid=1210u0kcglL4Zvw8Eq6eXhmkwen */

html, body {
	margin: 0;
	padding: 0;
	background: #a3aa69;
	color: #2f3403;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}

.dropdown {
	position: relative;
}

.dropdown-container {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 100;
}

.dropdown.open>.dropdown-container {
	display: block;
}

.main-content-wrapper {
	display: flex;
	justify-content: center;
}

.main-content {
}

.user-profile {
	margin: 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.user-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

div.board {
	background: #f2f6d0;
	border-radius: 6px;
	box-sizing: border-box;
	padding: 10px;
}

canvas.board {
	display: block;
}

.alert {
	color: rgb(245, 62, 5);
}
