{{define "head"}}
	<head>
		<meta charset="utf-8">

		<title>Dots Game</title>

		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/underscore-min.js"></script>
		<script src="/static/js/backbone-min.js"></script>
		<script src="/static/js/views.js"></script>
		<script src="/static/js/models.js"></script>
		<script src="/static/js/utils.js"></script>
		<script src="/static/js/game.js"></script>

		<!-- Underscore templates -->
		{{template "templates"}}
		
  		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

		<!-- exported data -->
		<script>
			window.AuthData = {{.}};
		</script> 
	</head>
{{end}}
