<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Dots Game</title>

		<!--
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/underscore-min.js"></script>
		<script src="/static/js/backbone-min.js"></script>
		<script src="/static/js/views.js"></script>
		<script src="/static/js/models.js"></script>
		<script src="/static/js/utils.js"></script>
		<script src="/static/js/game.js"></script>
		-->

  		<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="login-main">
			<div class="login-content">
				<a class="button flex-button lg1" href="/login">
					<img src="/static/images/facebook.svg" class="icon flexbox-item">
					<div class="flexbox-item">Login</div>
				</a>
			</div>
		</div>
	</body>
</html>
