{{define "templates"}}
	<!-- Top-right menu -->
	<script type="text/template" id="user-profile-template">
		<div class="dropdown">
			<a href="#"><div class="user-picture" <%if(typeof picture !== "undefined"){%> style="background-image: url('<%= picture %>');"<%}%>></div></a>
			<div class="dropdown-container left">
				<div class="profile-flexbox">
					<div class="profile-user-picture flexbox-item"<%if(typeof picture !== "undefined"){%> style="background-image: url('<%= picture %>');"<%}%>>
					</div>
					<div class="flexbox-item">
						<p><%if(typeof name !== "undefined"){%><%- name %><%}%></p>
						<a class="button btn-dark" href="/logout">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</script>

	<!-- Numeric indicator -->
	<script type="text/template" id="numeric-indicator-template">
		<div class="caption"><%= title %></div>
		<div class="label"><%- value %></div>
	</script>
{{end}}
